/* ひな形 */
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background-color: #bfbfbf;
}

 .container{
    width: 1200px;
    margin:auto;
}

/* レイアウト */

 .main {
    width: 800px;
    outline: hidden;
    float:left;
    background: #eeeeee;
    padding: 20px;
}
.col-6{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 800px;
    color:lightcoral;
    overflow: hidden;
    
}
.col-3 {
    padding: 2px;
    width: 310px;
    float: left;
    overflow: hidden;
    background-color: white
    
    
}

.sidebar {
    width: 300px;
    padding: 20px;
    margin-left: 10px;
    float: left;
    background: #eeeeee;
}

 
/* 画像・見出し・パラグラフ */
    
#key-block img{
        float: left;
        margin:auto;
    }
#key-block h1{
    
        font-size: 50px;
        color:lightcoral;
        margin: auto;
    font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',
 Meiryo, sans-serif;
    }

    
#key-block p{
        font-size: 15px;
        margin-bottom: 5px;
        margin-top: 20px;
     font-family:  'Lucida Grande','Hiragino Kaku Gothic ProN',
 Meiryo, sans-serif;
    margin-left: 10px;
   
    }

/* サイドバー */
#side-block h2{
    padding-left: 100px ;
      font-family:  'Lucida Grande','Hiragino Kaku Gothic ProN',
 Meiryo, sans-serif;
    color: navy;
}
#side-block h4{
    padding-left: 30px;
      font-family:  'Lucida Grande','Hiragino Kaku Gothic ProN',
 Meiryo, sans-serif;
    color:navy;
}
#side-block img{
width: 200px;
padding-left: 50px;
padding-top: 10px;
transition: 0.5s }



#side-block img:hover{
    margin-left: -15%;
    margin-top: -15%;
    width: 101%;
    height: 101%;
    transition: 1.5s ease
 
}

/*カラム*/

#col-block img{
padding-left:5px;
    padding-right: 5px;
    margin: auto;
}

#col-block h2{
color: dimgray;
}
/* メニュー */

nav{
    overflow:hidden;
    background: #875f9a;
    margin-bottom: 45px;
}

nav li{
    float: left;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    border: none;
    color: #fff;
    background: transparentc;
    border-radius:0;
    display: block;
    padding: 11px;
    transition: 0.5s;
      font-family:  'Lucida Grande','Hiragino Kaku Gothic ProN',
 Meiryo, sans-serif;
    
}
nav a:hover{
    background: #be90d4;
    color: #ff4c4c;
}


/*Album*/

.list-album
{overflow: hidden;}

.list-album li{
width: 290px;
background: #eeeeee;
list-style-type: none;
float: left;
margin-right: 20px;
    margin-bottom: 20px;
}

.container h1{
color: lightcoral;
font-size: 50px;
      font-family:  'Lucida Grande','Hiragino Kaku Gothic ProN',
 Meiryo, sans-serif;
}

.list-album img{
width: 250px;
    padding: 20px;
}

.list-album h2{
margin: auto;
padding: 20px;
color: dimgray;
      font-family:  'Lucida Grande','Hiragino Kaku Gothic ProN',
 Meiryo, sans-serif;
}

.list-album p{
padding-left: 200px;
color:dimgray;
      font-family:  'Lucida Grande','Hiragino Kaku Gothic ProN',
 Meiryo, sans-serif;
}

    